html
  head
    title VIZUL
    link(rel="stylesheet", href="/css/base.css")
  body
    .container
      .title
        h1 VIZUL
        span paste a link to start
      .start
        input#url(type="text", placeholder="https://soundcloud.com/user/song")
        button#go GO
      audio#audio(controls)
    script(src="/js/jquery.min.js")
    script(src="/js/index.js")