html
  head
    title VIZUL
    link(rel="stylesheet", href="/css/base.css")
  body
    .container
      .title
        h1 VIZUL
        span paste a link to start
      .start
        input#url(type="text", placeholder="https://soundcloud.com/user/song")
        button#go GO
      .visualizer
        canvas#canvas
        .info
          .label
            span.song-title
            span.song-artist
        .controls
          .bar
            span.line
            span.line-hover
            span.time-hover TIME
            span.time TIME
      audio#audio
    script(src="/js/jquery.min.js")
    script(src="/js/chroma.min.js")
    script(src="/js/particles.min.js")
    script(src="/js/dat.gui.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/math.min.js")
    script(src="/js/lttb.js")
    script(src="/js/stats.min.js")
    script(src="/js/color-thief.min.js")
    script(src="/js/moment.min.js")
    script(src="/js/webmidi.min.js")
    script(src="/js/visualizer.js")
    script(src="/js/index.js")